* {
    box-sizing: border-box;
}

:root {
/* Typography */
 --color-ink: #1C1C1C;
 --color-reverse: #FFFFF8;
 --color-light: #eeeeee;
 --color-slate: #788C94;
 --color-sky: #CBDAE0;
 --color-seafoam: #C1E0D8;
 --color-clay: #A16D5F;
 --color-coral: #E0D7CC;
 --color-mint: #D6ECD5;
 --color-forest: #3B553F;
 --color-sandalwood: #A18567;
 --color-blush: #E0D8C1;
 --color-black: #000;
 --color-white: #fff;
 --size-s: 5px;
 --size-m: 15px;
 --size-l: 40px;
 --size-xl: 80px;
 --heading-font-family: 'Self Modern', serif;
 --body-font-family: 'NB Akademie', Helvetica, sans-serif;
 --utility-font-family: 'DM Mono', monospace, sans-serif;

 --utility: normal 0.8rem var(--utility-font-family);

 --border-width: 1px;
 --border-color-inherit: var(--border-width) solid currentColor;

 /* Header */
 --header-height: 80px;
 --header-padding: 30px;
 --content-height: calc(100vh - var(--header-height) - var(--ticker-height));
 --page-overlay: rgba(0,0,0,.2);

 /* Icons */
 --icon-size: 20px;

 /* Buttons */
 --button-height: 60px;

/* Form Fields  */
 --form-field-height: var(--button-height);
 --form-field-background: var(--color-mint);
 --form-field-color: var(--color-ink);
 --form-field-background-hover: var(--color-slate);
 --form-field-color-hover: var(--color-reverse);

/* Ticker Tape */
 --ticker-height: 60px;
 --ticker-text: "Select a preset to preview";

 /* Animation */
 --anim-duration-default: 600ms;
 --anim-duration-short-default: 300ms;
 --anim-easing-default: cubic-bezier(.6,0,.4,1);

 --anim-easing: var(--anim-easing-default);
 --anim-duration: var(--anim-duration-default);
 --anim-duration-short: var(--anim-duration-short-default);
 --transition-default: var(--anim-duration) var(--anim-easing);
 --transition-short: var(--anim-duration-short) var(--anim-easing);

}


/* Font Imports */

@font-face {
    font-family: 'Self Modern';
    src: url('assets/fonts/SelfModern-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Self Modern';
    src: url('assets/fonts/SelfModern-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Self Modern';
    src: url('assets/fonts/SelfModern-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Self Modern';
    src: url('assets/fonts/SelfModern-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Self Modern';
    src: url('assets/fonts/SelfModern-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Self Modern';
    src: url('assets/fonts/SelfModern-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'NB Akademie';
    src: url('assets/fonts/NBAkademieStd-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NB Akademie';
    src: url('assets/fonts/NBAkademieStd-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NB Akademie';
    src: url('assets/fonts/NBAkademieStd-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NB Akademie';
    src: url('assets/fonts/NBAkademieStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NB Akademie';
    src: url('assets/fonts/NBAkademieStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NB Akademie';
    src: url('assets/fonts/NBAkademieStd-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Mono';
    src: url('assets/fonts/DMMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Mono';
    src: url('assets/fonts/DMMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Mono';
    src: url('assets/fonts/DMMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* Global Styles  */

html,
body {
    font-family: var(--body-font-family);
    font-weight: 300;
    color: var(--color-ink);
    background-color: var(--color-reverse);
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
    clear: both;
    scroll-snap-type: y proximity;
}


/* Typography */

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    font-family: var(--heading-font-family);
    font-weight: normal;
}

h1,
.h1 {
    font-size: 5rem;
    line-height: 1;
    margin: 0 0 1rem;
}

h2,
.h2 {
    font-size: 2rem;
    line-height: 1;
    margin: 0 0 1rem;
}

h3,
.h3 {
    font-size: 1.2rem;
    line-height: 1;
    margin: 0 0 1rem;
}

h5,
.h5 {
    font-style: italic;
}

h6,
.h6 {
    font-size: 1.3rem;
    font-weight: 300;
    margin: 0 0 1rem;
}

p {
    margin: 0 0 1rem 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.utility,
label,
button {
    font-family: var(--utility-font-family);
    text-transform: uppercase;
    font-size: .6rem;
    letter-spacing: .05rem;
}


/* Buttons  */

button {
    background-color: transparent;
    box-shadow: none;
    border: var(--border-color-inherit);
    color: currentColor;
    border-radius: 100%;
    padding: 0 var(--size-m);
    height: var(--button-height);
    min-width: 120px;
    transition: all var(--transition-short);
    cursor: pointer;
}

button:hover {
    color: var(--color-ink);
    background-color: var(--color-reverse);
}

button:focus-visible,
select:focus-visible {
    border-radius: 0;
}


/* Forms */

.form-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 0 var(--size-m);
}

.form-wrapper button {
    flex-basis: 100%;
    flex-shrink: 0;
    border-radius: 0;
    border-color: var(--color-slate);
    background-color: var(--color-slate);
    color: var(--color-reverse);
}

.form-wrapper button:hover {
    background-color: var(--color-ink);
    color: var(--color-reverse);
}

.form-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
}

.dropdown-selector {
    font: inherit;
    color: inherit;
    display: inline-block;
    position: relative;
    margin: 0;
}

.dropdown-selector label {
    position: absolute;
    top: var(--size-s);
    left: var(--size-m);
    z-index: 3;
}

.dropdown-selector:after {
    content:"";
    -webkit-mask: url(assets/icons/arrow.svg) no-repeat 50% 50%;
    mask: url(assets/icons/arrow.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: currentColor;
    width: var(--icon-size);
    height: var(--icon-size);
    font: inherit;
    color: inherit;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    right: 10px;
    z-index: 1;
    transition: transform var(--transition-short);
}

.dropdown-selector.open:after {
    transform: translateY(-50%) rotate(180deg);
    background-color: var(--color-ink);
}

.dropdown-selector select {
    height: var(--form-field-height);
    width: 100%;
    border: var(--border-color-inherit);
    padding: var(--size-m) calc(var(--size-m) + var(--icon-size) + var(--size-m)) 0 var(--size-m);
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    font: inherit;
    color: inherit;
    appearance: none;
    background-color: inherit;
    border-radius: 0;
    position: relative;
    z-index: 1;
    transition: all var(--transition-short);
}

.dropdown-selector.open {
    background-color: var(--color-white);
    color: var(--color-ink);
}

/* Remove Default Dropdown Arrow for IE */
select::-ms-expand {
    display: none;
}

label {
    margin: 0 0 var(--size-s);
}

.input-text {
    margin: 0;
}

.dropdown-menu {
    border: var(--border-color-inherit);
    position: absolute;
    top: var(--form-field-height);
    opacity: 0;
    left: 0;
    background-color: var(--color-mint);
    margin: 0;
    padding: 0;
    min-width: 100%;
    pointer-events: none;
    z-index: 8;
    transition: all var(--transition-short);
    /* visibility: hidden; */
}

.dropdown-selector.open .dropdown-menu {
    opacity: 1;
    pointer-events: initial;
}

.dropdown-item {
    background-color: var(--color-reverse);
    list-style: none;
    height: var(--form-field-height);
    padding: 0 var(--size-m);
    color: var(--color-ink);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dropdown-item:not(:last-child) {
    border-bottom: var(--border-color-inherit);
}


/* Icons */

.icon {
    width: var(--icon-size);
}

.icon-caret {
    width: 100%;
}


/* Header */

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9;
    color: var(--color-reverse);
}

header::before,
header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: var(--border-width);
    background-color: currentColor;
    height: 100vh;
}

header::before {
    left: var(--header-padding);
}

header::after {
    right: var(--header-padding);
}

.logo-wrapper {
    height: var(--header-height);
    margin: 0 auto;
    padding: 0 var(--size-l);
    width: calc(100% - var(--header-padding) * 2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom: var(--border-color-inherit);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.logo-wrapper a {
    justify-self: center;
}

.logo-wrapper a:first-child {
    justify-self: start;
    z-index: 1;
}

.logo-wrapper a:last-child {
    justify-self: end;
}

.link-code {
    padding: var(--size-m) var(--size-m);
    background-color: var(--color-reverse);
    color: var(--color-ink);
    border-radius: var(--size-m);
}

.logo {
    width: 60px;
    color: currentColor;
}

header::before,
header::after {
    mix-blend-mode: difference;
}


/* Code Drawer */

.code-drawer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 45%;
    min-width: 320px;
    max-width: 600px;
    transform: translateX(-100%);
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    transition: all var(--transition-default);
    color: var(--color-ink);
}

.code-drawer.open {
    transform: translateX(0%);
}

.code-drawer-inner {
    background-color: var(--color-light);
    height: 100vh;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: calc(var(--header-height) + var(--size-m)) calc(var(--header-padding) + var(--size-l));
}

.code-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0 0 var(--size-l);
}

.code-preview {
    width: auto;
    height: auto;
    padding: var(--size-m);
    background-color: var(--color-white);
    border-radius: var(--size-s);
}

.code-preview .code-line {
    margin: var(--size-s) 0;
}

.code-preview .code-line .code-label {
    color: var(--color-slate);
}


/* Section Layout  */

section {
    --section-padding: var(--size-l);
    scroll-snap-align: start;
    padding: calc(var(--header-height) + var(--section-padding)) calc(var(--section-padding) + var(--header-padding)) var(--section-padding);
    min-height: calc(100vh - var(--ticker-height));
    max-height: calc(100vh - var(--ticker-height));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.text-wrapper {
    max-width: 960px;
    flex-basis: calc(50% - var(--size-l) * 2);
    flex-shrink: 1;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.image-wrapper {
    flex-basis: 50%;
    flex-shrink: 1;
    object-fit: cover;
    overflow: hidden;
}

.image-wrapper img {
    width:100%; 
    height:100%;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
    flex-wrap: wrap;
}


/* Section Styling */

.section-slate {
    color: var(--color-ink);
    background-color: var(--color-slate);
}

.section-clay {
    color: var(--color-reverse);
    background-color: var(--color-clay);
}

.section-mint {
    color: var(--color-ink);
    background-color: var(--color-mint);
}

.section-forest {
    color: var(--color-reverse);
    background-color: var(--color-forest);
}


/* Ticker Tape */

.ticker-tape {
    height: var(--ticker-height);
    background-color: var(--color-slate);
    color: var(--color-reverse);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.ticker-tape::before,
.ticker-tape::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: var(--border-width);
    background-color: var(--color-reverse);
}

.ticker-tape::before {
    top: 0;
}

.ticker-tape::after {
    bottom: 0;
}

.ticker-text {
    --icon-size: 20px;
    margin: 0;
    flex-shrink: 0;
    flex-grow: 0;
    padding-right: calc(var(--size-m) * 2 + var(--icon-size));
    animation: ticker-text 5s linear 0s infinite;
}

.ticker-text::before {
    content: var(--ticker-text);
}

.ticker-text::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: var(--size-m);
    width: var(--icon-size);
    height: var(--icon-size);
    color: red;
    background-image: url("assets/star.svg");
}

@keyframes ticker-text {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}