.code-block {
    margin-bottom: var(--size-l);
}

.code-block-inner {
    background-color: var(--color-reverse);
    color: var(--color-ink);
    border-radius: var(--size-s);
    padding: var(--size-m);
    margin-bottom: var(--size-m);
}

.block-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.block-title {
    margin: 0;
}

.clipboard-button{
    width: var(--icon-size);
    padding: var(--size-m) 0  var(--size-m)  var(--size-m);
    box-sizing: content-box;
}

.variable-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.variable-item p{
    margin-bottom: 0;
}



.variable-label {
    color: var(--color-ui);
}

.code-info-block {
    background-color: rgba(255, 255, 255, .1);
    padding: var(--size-m);
    border-radius: var(--size-s);
}

.class-item {
    margin-bottom: var(--size-m);
}

.class-item p {
    margin-bottom: var(--size-s);
}

.class-value {
    margin-left: var(--size-l);
}