.code-block {
    margin-bottom: var(--size-l);
}

.code-block-inner {
    position: relative;
    background-color: var(--color-reverse);
    color: var(--color-ink);
    border-radius: var(--size-s);
    padding: var(--size-m);
    margin-bottom: var(--size-m);
}

.block-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 var(--size-m);
}

.block-title {
    margin: 0;
}

.clipboard-button {
    position: absolute;
    top: var(--size-m);
    right: var(--size-m);
    padding: 0;
    color: var(--color-ui-hover);
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.clipboard-label {
    margin: 0 var(--size-s) 0 0;
    opacity: 0;
    transition: all var(--anim-default);
}

.clipboard-button:hover .clipboard-label {
    opacity: 1;
}

.clipboard-button svg {
    width: var(--icon-size);
}

.code-info-block {
    background-color: rgba(255, 255, 255, .1);
    padding: var(--size-m);
    border-radius: var(--size-s);
}


pre {
    page-break-inside: avoid;
    overflow: auto;
    word-wrap: break-word;
    margin: var(--size-s) 0;
}